.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.asteroidContainer{
  margin-bottom: 20px;
}
.buttonTransparent {
  border: 2px solid #F86600;
  background: rgba(255, 70, 0, 0.21);
  width: 140px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
