.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 20px;
}

.asteroid{
  padding-bottom: 10px;
}

.button{
  background: #F86600;
  width: 140px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
